[Desktop Entry]
Encoding=UTF-8
Name=WolfMixer
Name[af]=WolfMixer
Name[ar]=WolfMixer
Name[be]=WolfMixer
Name[bg]=WolfMixer
Name[bn_IN]=WolfMixer
Name[ca]=WolfMixer
Name[cs]=WolfMixer
Name[da]=WolfMixer
Name[de]=WolfMixer
Name[el]=WolfMixer
Name[en_GB]=WolfMixer
Name[es]=WolfMixer
Name[es_VE]=WolfMixer
Name[et]=WolfMixer
Name[eu]=WolfMixer
Name[fi]=WolfMixer
Name[fo]=WolfMixer
Name[fr]=WolfMixer
Name[frp]=WolfMixer
Name[gl]=WolfMixer
Name[hr]=WolfMixer
Name[hu]=WolfMixer
Name[id]=WolfMixer
Name[it]=WolfMixer
Name[ja]=WolfMixer
Name[lg]=WolfMixer
Name[lt]=WolfMixer
Name[ms]=WolfMixer
Name[nb]=WolfMixer
Name[nl]=WolfMixer
Name[nn]=WolfMixer
Name[pl]=WolfMixer
Name[pt]=WolfMixer
Name[pt_BR]=WolfMixer
Name[ro]=WolfMixer
Name[ru]=WolfMixer
Name[sk]=WolfMixer
Name[sl]=WolfMixer
Name[sr]=WolfMixer
Name[sr@latin]=WolfMixer
Name[sv]=WolfMixer
Name[tr]=WolfMixer
Name[tt_RU]=WolfMixer
Name[vi]=WolfMixer
GenericName=Mixer
Exec=python /home/pi/Programs/wolfmixer.py
Icon=/home/pi/Programs/WolfMixer.png
Terminal=false
Type=Application
Categories=GTK;Utility
